

/*html{
    background-color: white;
}*/
.form-container {
    top: 0;
    font-family: 'Nunito Sans', sans-serif;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    
}




.loginform {
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    gap: 0.5em;
    height: fit-content;
    max-height: 400px;
    width: 300px;
}
form > p {
    font-size: 0.65em;
    margin-bottom: 0.6em;
}
form > h1 {
    font-size: 1.8em;
}
span {
    color: var(--primary-color);
    cursor: pointer;
}
span:hover {
    color: var(--primary-color-hover);
}
form > .logo {
    margin: auto;
    height: 40px;
    width: 40px;
}
form > .heading {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.4em;
    font-weight: 600;
    /**font-size: 1.3em;*/
}
/*form > div {
    margin-bottom: 0.78em;
}*/

form > div > input {
    font-size: 1em;
    border: 1.5px solid grey;
    background-color: #ffff;
    border-radius: 3px;
    padding: 1em 1.6em 1em 1.6em;
    width: 100%;
    height: 40px;
}
form > div > input:hover {
    border: 1.5px solid var(--primary-color);
    transition: 100ms ease-in;
}
/*.checkbox {
    margin-top: -0.3em;
    margin-bottom: 0.9em;
    display: flex;
    gap: 0.2em;
    padding: auto;
}
.checkbox > input{
    margin-top: auto;
    margin-bottom: auto;
    width: 14px;
    height: 14px;
}
.checkbox > label, form > label {
    font-size: 0.63em;
    font-weight: 520;
    margin-top: auto;
    margin-bottom: auto;
}*/
form > div.input-group {
    display: grid;
    background: transparent;
}
form > div.btn-group {
    width: 100%;
    display: flex;
}
.submit {
    font-size: 1.1em;
    /*margin-top: 0.2em;
    margin-bottom: 0.5em;*/
    padding: 0.6em 0.6em;
    height: 2.8em;
    border: none;
    border-radius: 3px;
    background: var(--primary-color);
    color: white;
    font-weight: 500;
}
.submit:hover {
    background: var(--primary-color-hover);
}

form > small {
    font-size: 0.95em;
    font-weight: 500;
    /*color: #777;*/
  }  
.otp {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
}

.forgot-password {
    color: var(--primary-color);
    cursor: pointer;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.forgot-password:hover {
    color: var(--primary-color-hover);
}
