@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,800;6..12,900&display=swap');

/*html {
    height: 100%;
}*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Jost', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    outline-color: var(--primary-color);
    text-decoration: none;
    height: 100%;
    list-style: none;
    line-height: 1.5em;

}

li {
    height: fit-content;
}
body {
    font-family: 'Jost', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}


.main-container {
    font-family: 'Nunito Sans';
    width: fit-content;
    /*display: grid;
    grid-template-columns: 14em auto;
    height: 100%;*/
}

aside {
    width: 15em;   
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    /*background-color: rgb(231, 231, 231);*/
}

aside {
    background-color: rgb(254, 254, 254);
    padding: 2em 1em;
    border-right: 1px solid rgb(220, 220, 220);
}
aside > button {
    height: fit-content;
    padding: 0.85em 1.4em;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    background-color: rgb(254, 254, 254);
    border: 1px solid rgb(220, 220, 220);
    cursor: pointer;
}

aside > button:hover {
    box-shadow: rgba(23, 23, 23, 0.09)4px 3px 12px;
    outline: 1px solid var(--primary-color);
}
main {
    margin-left: 2.4em;
    margin-right: 2.4em;
    padding-top: 1em;
    width: auto;
    height: 100%;
}

.header {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    left: 15em;
    padding: 0.8em 1.2em;
    height: 3em;
    background-color: rgb(254, 254, 254);
    border-bottom: 1px solid rgb(220, 220, 220);
}
.chat-section {
    display: grid;
    max-height: 85%;
}
.chat-section > div{
    
    max-width: 100%;
    max-height: fit-content;
    margin-top: 3em;
    margin-left: 15em;
    overflow-y: scroll;
}
.chat-section > div:last-child {
    padding-bottom: 4em;

}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
  }
/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
  }
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.banner {
    height: fit-content;
    display: grid;
    padding-left: 5em;
    padding-right: 5em;
    gap: 1em;
}

.example-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    
    place-items: center;
}

.example-group > div {
    font-size: 'Jost';
    display: grid;
    place-items: center;
    font-size: 1.06em;
    font-weight: 500;
    padding: 0.8em 1.2em;
    height: 100%;
    background-color: rgb(253, 253, 253);
    color: rgb(70, 70, 70);
    width: 100%;
    border-radius: 8px;
    text-align: center;
    border: 1px solid rgb(220, 220, 220);
    cursor: pointer;
    /*box-shadow: rgba(23, 23, 23, 0.09)4px 3px 12px;*/
}

.example-group > div:hover {
    box-shadow: rgba(23, 23, 23, 0.09)4px 3px 12px;
    border: 1px solid var(--primary-color);
}

.prompt-field {
    position: fixed;
    height: fit-content;
    bottom: 0;
    padding: 1.4em 5em;
    width: auto;
    right: 0;
    left: 15em;
    display: flex;
    background-color:  rgb(253, 253, 253);
    border-top: 1px solid rgb(220, 220, 220);
    justify-content: center;
}

.prompt-field > input {
    font-family: 'Jost';
    font-size: 1.06em;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
    width: 100%;
    border-radius: 10px;
    padding: 1em 4em 1em 2em;
    background-color: rgb(253, 253, 253);
    box-shadow: rgba(49, 49, 49, 0.1)4px 3px 12px;
    border: 1.2px solid rgb(214, 214, 214);
    word-wrap: break-word;
    outline: 6em;
}
.prompt-field > button {
    display: grid;
    place-items: center;
    background-color: rgb(253, 253, 253);
    margin: auto;
    padding: 0.4em;
    margin-left: -4em;
    
    height: fit-content;
    border-radius: 5px;
}

.user, .ai {
    font-family: 'Jost';
    width: 100%;
    display: grid;
    grid-template-columns: 30px auto;
    gap: 1em;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    padding-left: 5.5em;
    padding-right: 5.5em;
    height: fit-content;
    
}

.user > div.content, .ai > div.content {
    font-family: 'Jost';
    font-size: 1.1em;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    width: 100%;
    height: fit-content;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.ai {
    background-color: rgb(251, 251, 251);
}


.user-icon, .ai-icon {
    font-size: 0.8em;
    display: grid;
    place-items: center;
    margin: 0 0 auto 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    background-color: rgb(201, 111, 0);
}

.ai-icon {
    background-color: rgb(107, 0, 107);
}

div.content > p {
    height: fit-content;
    font-family: 'Jost';
}

div.content > pre {
    font-size: 1em;
    font-family: monospace;
    border-radius: 15px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em 0 0.5em 1em;
    margin-right: 0.2em;
    background-color: rgba(201, 196, 196, 0);
    word-wrap: break-word;
    overflow-x: scroll;
    overflow-wrap: break-word;
    height: fit-content;
}
pre > code {
    font-family: monospace;
    /*color: rgb(209, 209, 209);*/
}

pre > code > span {
    font-family: monospace;
}
.hljs-keyword, .hljs-type, .hljs-title, .hljs-params {
    font-family: monospace;
}
code{
    font-family: monospace;
    font-size: 1em;
    height: fit-content;
    overflow-x: scroll;

}
.code-curve {
    border-radius: 15px;
}
@media screen and (max-width: 800px) {
  
    aside {
        display: none;
    }
    .header {
        left: 0
    }
    .banner {
        padding-left: 1em;
        padding-right: 1em;
    }
    .chat-section > div {
        margin-left: 0;
        margin-right: 0;
    }
    .example-group {
        padding: 1em 1.2em;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
    .example-group > div {
        height: fit-content;
    }
    .prompt-field {
        padding: 1.4em 1em;
        left: 0;
    }
}
@media screen and (max-width: 700px) {
    .user, .ai {
        padding-left: 1em;
        padding-right: 0.5em;
    }
    main {
        margin-left: 1em;
        margin-right: 1em;
        padding-bottom: 2.4em;
    }
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    
}

@media screen and (max-width: 700px) {
    main {
        padding-bottom: 1em;
    }

    .prompt-field > input {
        max-height: 200px;
    }
}
