header {
    height: fit-content;
    padding: 1.2em 4em;
    display: flex;
    gap: 2em;
    
}

header > div {
    margin: auto auto auto 0;
}

header > nav > ul {
    margin: auto 0 auto auto;
    display: flex;
    gap: 2em;
}

.heading-section {
    height: fit-content;
    background-color: rgb(5, 9, 40);
    color: white;
    display: grid;
    place-items: center;
    padding-top: 2.6em;
    padding-bottom: 2.6em;
}

.gradient {
    background: linear-gradient(45deg, #ff3366, #33ccff);
    -webkit-background-clip: text; /* For Webkit (Safari, Chrome) */
    background-clip: text;
    color: transparent;
  }
  
.heading-section > h1 {
    margin: auto;
    width: 68%;
    text-align: center;
    line-height: 1.2em;
    font-size: 2.5em;
    font-family: Poppins;
    font-weight: 600;
}
.heading-section > p {
    max-width: 70%;
    text-align: center;
    color: rgb(214, 214, 214);
    font-size: 0.92em;
}
.heading-section > div > button {
    height: fit-content;
    font-size: 1.04em;
    font-weight: 500;
    padding: 0.9em 1.6em;
    border-radius: 24px;
    color: white;
    background-color: rgb(27, 44, 155);
    border: 1px solid rgb(27, 44, 155);
    cursor: pointer;
}
.heading-section > div > button:hover {
    border: 1px solid grey;
}
.heading-section > div > button:last-child {
    background-color: rgba(38, 38, 38, 0.4);
}
.main-group {
    height: fit-content;
    padding: 2em;
    margin-bottom: 2em;
}
.intro-group {
    margin-top: 2em;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5em;
}
.intro-section {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: auto;
    margin-bottom: auto;
}
.intro-section > div.heading {
    margin-bottom: 1.4em;
    height: fit-content;
}
.intro-section > h2 {
    height: fit-content;
    font-size: 2.4em;
    font-family: Poppins;
    font-weight: 550;
    margin-top: auto;
    margin-bottom: 0.8em;
}
.intro-section > div.heading > img {
    border-radius: 10px;
    max-height: 50px;
    max-width: 50px;
    font-size: 2.5em;
    margin-top: auto;
    margin-bottom: auto;
}
.intro-section > div.content {
    height: fit-content;
    font-size: 1.1em;
    max-width: 90%;
}
.image-section {
    margin: auto 0 auto auto;
    display: grid;
    height: auto;
    padding: 2.2em 2.4em;
    background-color: rgb(98, 222, 63);
    min-width: 100px;
    width: fit-content;
}
.image-section > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border: 6px solid rgb(31, 31, 31);
    border-radius: 10px;
    box-shadow: rgba(30, 30, 30, 0.25) 8px 12px 10px;
}
.how-section, .samples-section, .why-section {
    height: fit-content;
    margin-top: 3.5em;
}

.how-section > h2 {
    color: rgb(27, 44, 155);
}
.why-section > div {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2em;
}
.card {
    border-radius: 15px;
    padding: 1.2em 1.4em 1.4em 1.4em;
    width: 100%;
    height: 100%;
    background-color: rgb(248, 178, 1);
    color:  rgb(27, 44, 155);
}
.card > h1 {
    height: fit-content;
    font-family: 0.90em;
    font-weight: 550;
}
.card > div {
    height: auto;
    display: flex;
    gap: 1em;
}
.card > div > .line {
    content: "";
    height: auto;
    width: 5px;
    background-color: rgb(27, 44, 155);
}
.card > div > .content {
    height: auto;
    max-width: 80%;
}



@media screen and (max-width: 860px) {
    .heading-section > h1 {
        width: 80%;
        font-size: 2.4em;
    }
    .heading-section > div > button {
        height: fit-content;
        font-size: 1em;
        font-weight: 500;
        padding: 0.7em 1.5em;
        border-radius: 24px;
        color: white;
        background-color: rgb(27, 44, 155);
        border: 1px solid rgb(27, 44, 155);
        cursor: pointer;
    }
    .intro-group {
        margin-top: 2em;
        height: fit-content;
        display: block;
        gap: 2.5em;
    }
    .image-section {
        margin-top: 1.8em;
        padding: 2.4em;
        
    }

    .intro-section > div.content {
        max-width: 100%;
    }
    .why-section > div {
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 1.2em;
    }

}
@media screen and (max-width: 640px) {
    .image-section {
        padding: 2em;
    }
    .intro-section > div.content {
        max-width: 100%;
    }
    header > nav > ul {
        display: none;
    }
    .why-section > div {
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 2.2em;
    }
    .main-group {
        height: fit-content;
        padding: 2em 1.4em;
        margin-bottom: 2em;
    }
}